<!DOCTYPE html>
<html>
    <head>
        <title>Movie Store</title>
    </head>
    <body>
        <h1>WELCOME TO MOVIE STORE</h1>
        <form method="POST" action="/movie">
            <br>
            Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="title">
            <br>
            <br>
            Year:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="year">
            <br>
            <br>
            IMDB:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="imdb">
            <br>
            <br>
            <br>
            <input type="submit" value="CLICK TO STORE">
        </form>
    </body>
</html>        